<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h3>Dirección</h3>
                <p>
                    CABA - Argentina <br />
                    carrasco 400
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Telefonos de Contacto</h3>
                <p>
                     +511 435 7896
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h3>Redes sociales</h3>
                <ul class="list-inline">
                  <li><a href="#"><img src="../../../assets/img/f.png" class="img-fluid img"  alt=""></a></li>
                  <li><a href="#"><img src="../../../assets/img/i.png" class="img-fluid img" alt=""></a></li>
                   <li><a href="#"><img src="../../../assets/img/t.png" class="img-fluid img"  alt=""></a></li>
                </ul>
            </div>
          
        </div>
    </div>
</footer>