<section class="container-fluid contenedor-2" id="galeria">
    <div class="row" id="b">
    <div class="col-12 titulo" >
      <h1>
        Nuestros Productos
      </h1>
      <p>
        En Esquisiteces contamos con una gran variedad de prodcutos de resposteria, ven y pruebalos tu mismo!
      </p>
    </div>
     <div class="col-4 imagen"><img src="../../../assets/img/alfajore.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/croissant.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/mofin.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/pfresa.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/pastel.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/panrelleno.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/cake.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/pcremablanca.jpg" alt=""></div>
     <div class="col-4 imagen"><img src="../../../assets/img/fondo-header.jpg" alt=""></div>
     
    </div>
     </section>


     <section class="container-fluid contenedor-3">
     <div class="row ">
     <div class="col-12 pb-5 mb-2 ml-2" id="c">
       <h1>Nuestros servicios</h1>
     </div>
     
     <div class="col-4">
      <img src="../../../assets/img/reservas.png" alt="" class="img-fluid">
      <h3>
        Reservas
      </h3>
     </div>
     <div class="col-4">
     <img src="../../../assets/img/entregas.jpg" alt="" class="img-fluid">
     <h3>Entregas</h3>
     </div>
     <div class="col-4">
     <img src="../../../assets/img/decoracion.png" alt="" class="imgl-fluid">
     <h3>Decoraciones de pasteles</h3>
     </div>
     </div>
     </section>
