<section class="container-fluid contenedor ">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-6 mt-5 font-weigth-bolder" id="a">
      <h1>
      Bienvenidos a Esquisiteses!
      </h1>
      <p class=" ">
        Nuestra empresa tiene como principal objetivo brindar la maxima sastifaccion a nuestros clientes, brindando un lugar tranquilo y agradable donde puedan digustar los productos de pasteleria de mas  alta calidad, y aun precio accesible para toda la sociedad.
      </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 mt-lg-1 mt-md-5 mt-sm-5">

       <img src="../../../assets/img/productos.jpeg" alt=""class="img-fluid img-thumbnail bg-dark" >
      </div>
    </div>

  </section>